/* Importación de fuentes*/
@import "avenir";

$color-texto: #555;
$azul-oscuro: #0063a6;
$azul-claro: #6f99c9;
$verde-oscuro: #008d76;
$verde-claro: #6eb7a6;

*{
    box-sizing: border-box;
    font-family: 'Avenir Next LT Pro Regular';
    font-weight: 500;
}