/* Importación de fuentes*/
@import "avenir";

$color-texto: #555;
$azul-oscuro: #0063a6;
$azul-claro: #6f99c9;
$verde-oscuro: #008d76;
$verde-claro: #6eb7a6;

*{
    box-sizing: border-box;
    font-family: 'Avenir Next LT Pro Regular';
    font-weight: 500;
    font-size: 16px;
}

body{
    margin: 0;
    padding: 0;
}

header{
    height: 3em;
}

#ham-button{
    border: none;
    height: 2em;
    width: 2em;
    background: url('../img/hamburger_icon.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0.7em;
    @media screen and (min-width:500px){
        display:none;
    }
}


nav {
    @media screen and (min-width:500px){
        display:block!important;
    }
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        @media screen and (min-width:500px){
            display:inline-block;
            float:right
        }
    }
    li{
        background-color: lightgrey;
        z-index:1;
        position:relative;  
        @media screen and (min-width:500px){
            display:inline-block;
        }
    }
    a{
        display: inline-block;
        padding: 0.5em;
        width: 100%;
        text-decoration: none;
        text-align: center;
    }

    a:hover{
        background-color: rgb(216, 216, 216);
    }
}


.hide{
    display: none;
}